<div class="flex flex-wrap gap-x-24 gap-y-8 items-center">
  <div>
    @if (showLabel()) {
      <span class="mr-16">Date Range</span>
    }
    <select class="__fc bg-[#6496a8] rounded-[14px] h-[28px]" [formControl]="selectedDateRange">
      @for (item of dateRanges; track item.value) {
      <option [value]="item.value">{{item.label}}</option>
      }
    </select>
  </div>
  
  @if (selectedDateRange.value !== 'all' && showDates()) {
    <div class="bg-[#8f8f8f] h-full w-[1px]">&nbsp;</div>

		@if (selectedDateRange.value === 'custom') {
      <label class="flex items-center gap-x-12">
        <span data-label>From</span>
        <input type="date" class="__fc" [formControl]="customFromDate" required>
      </label>
      <div>-</div>
      <label class="flex items-center gap-x-12">
        <span data-label>To</span>
        <input type="date" class="__fc" [formControl]="customToDate" required>
      </label>
    } @else {
    	<span data-label>From</span>
    	<span class="font-bold">{{fromDate.value | date: 'dd MMM yyyy'}} <img class="left" src="image/calendar-days.svg" alt="down" height="14"></span>
    	<div>-</div>
    	<span data-label>To</span>
    	<span class="font-bold">{{toDate.value | date: 'dd MMM yyyy'}} <img class="left" src="image/calendar-days.svg" alt="down" height="14"></span>
		}
  }
</div> 