:host {
  display: block;
}

._tab label:has(input:checked) {
  border-bottom: 2px solid var(--color-color-8);
}

._tab input[type="radio"]:checked + span {
  font-weight: bold;
}

._tab .active {
  color: var(--color-color-8);
  font-weight: bold;
}

._title-card {
  color: var(--color-color-8);
  font-weight: bold;
  line-height: 1.19;
  height: 19px;
  font-size: 16px;
} 